/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Final Project Section */
html {
	background-color: #12B2B2;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Navigation Section */
.top-navigation {
	background-color: #5BCECE;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #009494;
	z-index: 9999;
}
.content {
	margin: 5px;
	padding: 10px 300px 5px 400px;
}
.content .signature {
	font-family: 'Permanent Marker', cursive;
}
.top-navigation .links {
	float: right;
}
.top-navigation > .content > .links li, a {
	color: black;
}
.top-navigation .links li {
	font-family: 'Handlee', cursive, bold;
	display: inline-block;
	margin-left: 15px;
}

/* Photo section */
.photo {
	background-image: url('images/coolpix.jpg');
	background-position: 0 top, left;
	background-repeat: no-repeat;
	background-size: 350px 600px;
	height: 39.5rem;
	overflow: auto;
}
.photo > .header h2 {
	margin: 80px 870px 0px 360px;
	font-family: 'Permanent Marker', cursive;
	font-size: 35px
}
.photo > .header h1 {
	margin: 0px 25px 10px 420px;
	font-family: 'Permanent Marker', cursive;
	font-size: 100px;
} 
.photo > .body p {
	margin: 5px 8px 5px 460px;
	font-family: 'Handlee', cursive, bold;
	font-size: 25px;
}
.photo > .header > .body p, a {
	text-decoration: none;
	font-style: bold;
	color: #007171;
}
.photo > .font h4 {
	text-decoration: underline;
	font-size: 30px;
}
.photo > .font > .para {
	font-size: 25px;
	margin: 5px 5px 5px 360px;
}

/* Font section */
.font {
	padding: 5px 5px 50px 5px;
}
.font .hthree {
	padding-bottom: 15px;
	font-size: 30px;
	font-family: 'Permanent Marker', cursive; 
}
.font .para h4 {
	text-decoration: underline;
	font-size: 30px;
}
.font .para h5 {
	font-style: italic;
}
.font .para {
	padding-bottom: 15px;
	font-size: 25px;
	font-family: 'Handlee', cursive, bold;
}
.font > .hthree > .para p, a {
	text-decoration: none;
}

/* Clone Section */


/* Footer section */
.footer > .para li, a {
	text-decoration: none;
	color: black;
}